// app global css in SCSS form
// import Nunito Sans font from Google fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  // Set Scroll bar color for FireFox
  scrollbar-color: rgba(118, 118, 118, 0.3) rgba(0, 0, 0, 0);
}

p {
  font-size: 16px;
}

@each $k, $c in $beigeColors {
	.bg-#{$k} {background-color: $c}
  .text-#{$k} {color: $c}
}

// use classe .dense_selector to make the selector very dense
.dense_selector.q-field__control,
.dense_selector.q-field--auto-height.q-field--dense .q-field__native,
.dense_selector.q-field--auto-height.q-field--dense .q-field__control,
.dense_selector.q-field--dense .q-field__marginal {
  height: 26px;
  min-height: 26px;
  line-height: 0px;
}