// app global css in SCSS form
// ------- //
// Borders //
// ------- //
.border-round-4 {
  border-radius: 4px;
}
.s-border {
  border: 1px solid $grey-3;
}
.s-border-b {
  border-bottom: 1px solid;
  border-bottom-color: $grey-3;
}
.s-border-u {
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-style: solid;
  border-color: $grey-3;
}

.s-underline {
  text-decoration: underline;
}

.flex.row p {
  margin: 0px;
}

.bg-beige-2 {
  background-color: $beige-2;
}
