// import Nunito Sans font from Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import 'scroll-bar.css';
* {
  font-family: 'Nunito Sans', sans-serif;
  // Set Scroll bar color for FireFox
  scrollbar-color: rgba(118, 118, 118, 0.3) rgba(0, 0, 0, 0);
}

p {
  font-size: 16px;
  color: #424143;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #3c3c3c;
}

// app global css in SCSS form

// ------- //
// Borders //
// ------- //
.border-none {
  text-decoration: none;
  border: none;
}

.border-round-4 {
  border-radius: 4px;
}
.s-border {
  border: 1px solid $grey-3;
}
.s-border-b {
  border-bottom: 1px solid;
  border-bottom-color: $grey-3;
}
.s-border-u {
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-style: solid;
  border-color: $grey-3;
}

.s-underline {
  text-decoration: underline;
}

.s-break-all {
  word-break: break-all;
}

.flex.row p {
  margin: 0px;
}

.bg-beige-2 {
  background-color: $beige-2;
}

.s-code {
  background: hsl(90, 10%, 10%);
  color: hsl(100, 100%, 80%);
}
.s-code pre {
  max-height: 30vh;
  overflow: scroll;
}
.s-code code {
  word-break: break-all;
  white-space: break-spaces;
}

.clip-long-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
