/* Last update: 2022-Mar-30 */
.small-scrollbar::-webkit-scrollbar {
  /* CSS variable doesn't wrok here */
  width: 18px;
  background-color: white;
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  background-clip: content-box;
  border: 6px solid transparent;
  border-radius: 99px;
}

/* Reference: https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */
